:root{
    --barva_pozadi: #2196F3;
    --sekundarni_pozadi: rgba(255, 255, 255, 0.8);
    --sekundarni_barva: #333;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.hlavicka {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sekundarni_barva);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    flex-direction: column;
}

.hlavicka a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hlavicka h1 {
    margin: 0;
    flex: 1;
    text-align: left;
}

nav {
    width: 30vw;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: #5a5a5a;
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.vyhledavani input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.vyhledavani button {
    padding: 5px 10px;
    background-color: var(--sekundarni_barva);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menutlacitko {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.krizek .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.krizek .bar2 {
    opacity: 0;
}

.krizek .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.ikona {
    font-size: 2em;
}

h1 {
    font-size: 2em;
}

h1 {
    text-align: center;
}

.mrizka {
    grid-template-columns: 1;
    column-width: 100%;
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.mrizka-bunka {
    background-color: var(--sekundarni_pozadi);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5), 1px -1px 2px rgba(0, 0, 0, 0.5), -1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.obsah p {
    text-align: justify;
}

.mrizka-bunka a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    text-shadow: -1px -1px 2px white, 1px -1px 2px white, -1px 1px 2px white, 1px 1px 2px white;
}

.mrizka-bunka h2 {
    background: rgba(255, 255, 255, 0.60);
    border-radius: 10px;
}

.obsah .mrizka .mrizka-bunka p {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
}

.mrizka-bunka img {
    width: 90%;
    height: 30vh;
    object-fit: cover;
}

.design {
    background-color: var(--sekundarni_pozadi);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;

}

.obsah {
    background-color: var(--barva_pozadi);
    padding: 1rem;
    gap: 1rem;
}

.obsah article {
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1rem;
}

.obsah aside {
    margin: 1rem;
}

.detaily,
.funkce {
    text-align: left;
}

.recenze {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recenze img {
    display: inline;
    object-fit: cover;
    width: 10vw;
    height: 10vw;
    margin-right: 2em;
}

.recenzetext {
    flex: 1;
}

.nahledhry img {
    width: 80%;
    border-radius: 10px;
}

.cenovka {
    margin: 0 auto;
    width: 40%;
}

.fotogalerie {
    list-style: none;
}

.fotogalerie li {
    display: inline-block;
}

.fotogalerie img {
    border-radius: 5px;
    width: 10vh;
    height: 10vh;
    object-fit: cover;
}

.kosik {
    display: flex;
    flex-direction: column;
}

.kosik article,.kosik aside {
    width: 80%;
    margin: 0 auto;
}

.objednat {
    margin: 0 auto;
    width: 50%;
}
.kosik footer{
    text-align: center;
}

.kosik-hry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
}

.kosik-hry img {
    object-fit: cover;
    width: 10vw;
    height: 10vw;
    margin-right: 2em;
}

.kosik-doprava table{
    width: 100%;
    text-align: left;
}

.paticka {
    background-color: var(--sekundarni_barva);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.kontejner-tlacitek {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.tlacitko {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.tlacitko:hover {
    background-color: #2980b9;
}

.banner {
    background-image: url("https://picsum.photos/id/861/1980/300.jpg");
    text-align: center;
    padding: 50px;
    color: var(--sekundarni_barva);
    text-shadow: -1px -1px 2px white, 1px -1px 2px white, -1px 1px 2px white, 1px 1px 2px white;
}


.popis img {
    width: 100%;
}

@media screen and (min-width: 850px) {
    .menutlacitko {
        display: none;
    }

    .menu {
        display: block;
    }

    .mrizka {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .dvoublok,
    .trojblok {
        grid-column: span 2;
    }

    .hlavicka {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .trojblok {
        grid-column: span 3;
    }
}